vms = {
  "vm1" = {
    cpu         = 2
    cpu_sockets = 2
    cpu_type    = "x86-64-v3" # optional, default "x86-64-v2-AES"
    memory      = 4096
    disk_size   = 100 # optional, in GiB, default 20 (can only be increased)
    tags        = ["homelab", "prod"]
    ip_address  = "192.168.10.10/24"
    gateway     = "192.168.10.1"
    role        = "role1"
  }

  "vm2" = {
    cpu         = 1
    cpu_sockets = 2
    memory      = 2048
    tags        = ["homelab", "test"]
    ip_address  = "192.168.10.20/24"
    gateway     = "192.168.10.1"
    role        = "role2"
  }
}
