[defaults]
inventory = ./inventory/
remote_user = ansible
callbacks_enabled = profile_tasks, profile_roles
roles_path = ./roles
private_key_file = ~/.ssh/ansible_homelab
vault_password_file = ./.vault_pass

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new